<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" href="{{ base_url('assets/bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
<link type="text/css" href="{{ base_url('assets/bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
<link type="text/css" href="{{ base_url_theme }}css/theme.css" rel="stylesheet">
<link type="text/css" href="{{ base_url('assets/bower_components/Ionicons/css/ionicons.min.css') }}" rel="stylesheet">
<link type="text/css" href="{{ base_url('assets/dist/css/AdminLTE.min.css') }}" rel="stylesheet">
<link type="text/css" href="{{ base_url('assets/plugins/iCheck/square/blue.css') }}" rel="stylesheet">
{{ comp_css|raw }}
<link rel="shortcut icon" type="image/x-icon" href="{{ favicon_url }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
